apiVersion: k8s.keycloak.org/v2alpha1
kind: Keycloak
metadata:
  name: keycloak
  labels:
    app: keycloak
  namespace: keycloak-dev
spec:
  serverConfiguration:
    - name: features
      value: web-authn,openshift-integration
    - name: db
      value: postgres
    - name: db-password
      value: sso1234
    - name: db-url
      value: jdbc:postgresql://postgresql.keycloak-dev.svc.cluster.local:5432/keycloak
    - name: db-username
      value: keycloak
    - name: caches
      value: ispn
  instances: 3
  hostname: keycloak-dev.apps.home.myocp.net
  tlsSecret: my-tls-cert
